/angular-12-forms
/AngularObservables
/api-call
/async-ngfor
/book-store
/canActivateRouteGaurd
/data-binding
/Food-Order-Website-in-Angular-13-main
/lazy-loading
/lazy-loading-components
/life-cycle-hooks
/model-interface
/my-app
/passing-data